* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1000px;
  margin: 0 auto;
}
.hr {
  height: 1px;
  background-color: gray;
  margin: 1.5em 0;
}
/* Card */
.card {
  width: 280px;

  text-align: center;
}
.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.card-body span {
  color: snow;
  font-weight: bold;
}
.card-title {
  color: black;
  font-size: 1rem;
}
.card-body {
  background-color: #6d6c70;
  border-radius: 15px;
  box-shadow: 2px 2px 15px 2px #000000;
}
.delete {
  color: #fc453fa9;

  background-color: #3f484e;
  padding: 0.3rem;
  width: 100px;
  margin: 0.5rem 0;
  border-radius: 6px;

  font-weight: bold;
}
.edit {
  color: #379683;
  background-color: #3f484e;
  padding: 0.3rem;
  width: 100px;
  margin: 0.5rem 0;
  border-radius: 6px;
}

.cards-title {
  font-size: 2rem;
  text-align: center;
  margin: 3rem;
  color: #379683;
  font-weight: bold;
}

/* Form */

.form-container {
  margin: 1rem auto;
  width: 30%;
  text-align: center;
  border: 1px solid black;
  background-color: #5d5c61;
  color: #379683;
  border-radius: 15px;
  box-shadow: 2px 2px 15px 2px #000000;
}

.form input {
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 6px;
}
.form label {
  font-weight: bold;
}
.form select {
  margin: 0.2rem;
  border-radius: 6px;
}

.form button {
  color: #379683;
  background-color: #3f484e;
  padding: 0.3rem;
  width: 100px;
  margin: 0.5rem 0;
  border-radius: 6px;
}

/* Footer */
.footer-container {
  background-color: #3f484e;
  height: 100px;
}
.footer-copyright {
  color: snow;
  text-align: center;
}
